projekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="specjalizacjaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="internista"/>
      <xs:enumeration value="hepatolog"/>
      <xs:enumeration value="kardiolog"/>
      <xs:enumeration value="gastrolog"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="plecType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="k"/>
      <xs:enumeration value="m"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="oddzialyType">
    <xs:list itemType="oddzialType"/>
  </xs:simpleType>

  <xs:simpleType name="placaType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="oddzialType1">
  	<xs:restriction base="xs:string">
    	<xs:minLength value="5"/>
    	<xs:maxLength value="50"/>
	</xs:restriction>    
  </xs:simpleType>

  <xs:simpleType name="oddzialType2">
  	<xs:restriction base="xs:string">
    	<xs:pattern value="ODZ[0-9]{3}"/>
	</xs:restriction>   
  </xs:simpleType>

  <xs:simpleType name="oddzialType">
  	<xs:union memberTypes="oddzialType1 oddzialType2"/>
  </xs:simpleType>

  <xs:simpleType name="stazType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="godzinyPracyType">
    <xs:restriction base="xs:string">
      <xs:length value="11"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wiekType">
    <xs:restriction base="xs:unsignedInt">
      <xs:minExclusive value="0"/>
      <xs:maxExclusive value="120"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="modelType">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="imieNazw">
    <xs:sequence>
      <xs:element name="imie" type="xs:string"/>
      <xs:element name="nazwisko" type="xs:string"/>
    </xs:sequence>
  </xs:group>

  <xs:complexType name="lekarzType">
    <xs:sequence>
      <xs:group ref="imieNazw"/>
      <xs:element name="specjalizacja" type="specjalizacjaType"/>
    </xs:sequence>
    <xs:attribute type="plecType" name="plec" use="optional"/>
    <xs:attribute type="placaType" name="placa" use="required"/>
    <xs:attribute type="oddzialyType" name="oddzial" default="Ogolny"/>
  </xs:complexType>

  <xs:complexType name="lekarzeType">
    <xs:sequence>
      <xs:element type="lekarzType" name="lekarz" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pielegniarkaType">
    <xs:sequence>
      <xs:group ref="imieNazw"/>
      <xs:element name="staz" type="stazType"/>
      <xs:element name="godzinyPracy" type="godzinyPracyType"/>
    </xs:sequence>
    <xs:attribute type="oddzialyType" name="oddzial" default="Ogolny"/>
    <xs:attribute type="xs:boolean" name="nadgodziny" use="required"/>
  </xs:complexType>

  <xs:complexType name="pielegniarkiType">
    <xs:sequence>
      <xs:element type="pielegniarkaType" name="pielegniarka" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pracownicyType">
  	<xs:choice>
  		<xs:sequence>
	      <xs:element type="lekarzeType" name="lekarze"/>
	      <xs:element type="pielegniarkiType" name="pielegniarki"/>
    	</xs:sequence>
    	<xs:sequence>
    		<xs:element type="pracownicyType" name="pracownicy"/>
    	</xs:sequence>
  	</xs:choice>
  </xs:complexType>

  <xs:complexType name="lekType">
    <xs:sequence>
      <xs:element name="nazwa" type="xs:string"/>
      <xs:element name="dawka" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lekiType">
    <xs:sequence>
      <xs:element type="lekType" name="lek" maxOccurs="5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pacjentType">
    <xs:sequence>
      <xs:group ref="imieNazw"/>
      <xs:element name="wiek" type="wiekType"/>
      <xs:element type="lekiType" name="leki"/>
    </xs:sequence>
    <xs:attribute type="plecType" name="plec" use="optional"/>
    <xs:attribute type="oddzialyType" name="oddzial" use="optional"/>
  </xs:complexType>

  <xs:complexType name="pacjenciType">
    <xs:sequence>
      <xs:element type="pacjentType" name="pacjent" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="produktType">
    <xs:sequence>
      <xs:element name="model" type="modelType"/>
      <xs:element name="rocznik" type="xs:positiveInteger"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="producent" use="required"/>
    <xs:attribute type="xs:string" name="stan" fixed="dobry"/>
  </xs:complexType>

  <xs:complexType name="diagnostykaType">
    <xs:sequence>
      <xs:element type="produktType" name="produkt" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="chirurgiaType">
    <xs:sequence>
      <xs:element type="produktType" name="produkt" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stacjonarneType">
    <xs:sequence>
      <xs:element type="produktType" name="produkt" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="laptopyType">
    <xs:sequence>
      <xs:element type="produktType" name="produkt" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="komputeryType">
    <xs:sequence>
      <xs:element type="stacjonarneType" name="stacjonarne"/>
      <xs:element type="laptopyType" name="laptopy"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rodzajeType">
    <xs:all>
      <xs:element type="diagnostykaType" name="diagnostyka"/>
      <xs:element type="chirurgiaType" name="chirurgia"/>
      <xs:element type="komputeryType" name="komputery"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="sprzetType">
    <xs:sequence>
      <xs:element type="rodzajeType" name="rodzaje"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="szpitalType">
    <xs:sequence>
      <xs:element type="pracownicyType" name="pracownicy"/>
      <xs:element type="pacjenciType" name="pacjenci"/>
      <xs:element type="sprzetType" name="sprzet"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="szpital" type="szpitalType"/>

</xs:schema>